<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

    <!-- info log -->
    <target xsi:type="File"
            name="File_Info"
            encoding="UTF-8"
            layout="${longdate}|message:${message} ${exception}"
            fileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Information.log"
            archiveFileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Information.{#####}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            concurrentWrites="true"
            keepFileOpen="true" />
    <!-- trace log -->
    <target xsi:type="File"
            name="File_Trace"
            encoding="UTF-8"
            layout="${longdate}|${message} ${exception}"
            fileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Trace.log"
            archiveFileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Info.{#####}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            concurrentWrites="true"
            keepFileOpen="true" />
    <!-- debug log -->
    <target xsi:type="File"
            name="File_Debug"
            encoding="UTF-8"
            layout="${longdate}|${message} ${exception}"
            fileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Debug.log"
            archiveFileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Debug.{#####}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            concurrentWrites="true"
            keepFileOpen="true" />
    <!-- warn log -->
    <target xsi:type="File"
            name="File_Warn"
            encoding="UTF-8"
            layout="${longdate}|${message} ${exception}"
            fileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Warn.log"
            archiveFileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Warn.{#####}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            concurrentWrites="true"
            keepFileOpen="true" />
    <!-- error log -->
    <target xsi:type="File"
            name="File_Error"
            encoding="UTF-8"
            layout="${longdate}|message:${message} ${exception}"
            fileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Error.log"
            archiveFileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Error.{#####}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            concurrentWrites="true"
            keepFileOpen="true" />
    <!-- fatal log -->
    <target xsi:type="File"
            name="File_Fatal"
            encoding="UTF-8"
            layout="${longdate}|${message} ${exception}"
            fileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Fatal.log"
            archiveFileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Fatal.{#####}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            concurrentWrites="true"
            keepFileOpen="true" />
    <!-- trace log -->
    <target xsi:type="File"
            name="File_Trace"
            encoding="UTF-8"
            layout="${longdate}|${message} ${exception}"
            fileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Trace.log"
            archiveFileName="${basedir}/logs/${level}/${event-properties:item=EventId_Name}/Trace.{#####}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            concurrentWrites="true"
            keepFileOpen="true" />

  </targets>

  <!-- network log -->

  <targets>
    <target name="Net_Info" xsi:type="Network" address="tcp://localhost:4001"/>
    <target name="Net_Error" xsi:type="Network" address="tcp://localhost:4002"/>
    <target name="Net_Warn" xsi:type="Network" address="tcp://localhost:4003"/>

  </targets>

  <!-- console log -->
  <targets>
    <!-- write log message to console
    EventId_Id=1001, EventId_Name=TestHostedService, EventId=TestHostedService| TestHostedService-->
    <target xsi:type="Console" name="console"
            layout="${newline}Time     ： ${longdate}
                    ${newline}Source   ： ${callsite}
                    ${newline}Logger   ： ${logger}
                    ${newline}Level    ： ${level}
                    ${newline}Domain   ： ${appdomain}
                    ${newline}Except   ： ${event-context:item=exception}
                    ${newline}Version  ： ${assembly-version}
                    ${newline}Activity ： ${activityid}
                    ${newline}Folder   ： ${specialfolder}
                    ${newline}EventId  ： ${all-event-properties}| ${event-properties:item=EventId}
                    ${newline}Stack    ： ${stacktrace}
                    ${newline}Content  ： ${message}
                    ${newline}" />
  </targets>


  <rules>
    <!-- add your logging rules here -->
    <logger name="*" level="Info" writeTo="File_Info" />
    <logger name="*" level="Error" writeTo="File_Error" />
    <logger name="*" level="Debug" writeTo="File_Debug" />
    <!--<logger name="*" level="Debug" writeTo="debugger" />-->
    <!--<logger name="*" level="Fatal" writeTo="console" />-->
    <logger name="*" level="Fatal" writeTo="File_Fatal" />
    <logger name="*" level="Trace" writeTo="File_Trace" />
    <logger name="*" level="Warn" writeTo="File_Warn" />

    <logger name="*" writeTo="console" />
    <!--
    <logger name="*" level="Info" writeTo="Console_Info" />
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    <logger name="*" level="Info" writeTo="Net_Info" />
    -->
  </rules>
</nlog>
