################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/System.Agent/obj
/.vs/System.MQTT
/src/System.Portal/obj
