@inherits LayoutComponentBase

<div class="col-12 row">
    <div class="col-6" style="border-right:groove">
        <img src="avatar.png" width="400" height="400" />
    </div>
    <div class="col-6" style="border-left:groove">
        @Body
    </div>
</div>